li {
  font-weight: 600;
  list-style-type: none;
  padding-bottom: 10px;
}
.flex {
  display: flex;
}

.flex span {
  padding-right: 5px;
}

.flex span:hover {
  cursor: pointer;
}

.padding-left {
  padding-left: 10px;
}
